<div class="container-fluid bg-info" style="padding: 40px;">
    <section class="row">
        <div class="col-md-4">
            <h3 class="text-light">About Our Company</h3>
            <p class="text-light">Soko garden is a unique facility committed to meeting the needs of our clientele professionally</p>
            <a  href="https://www.facebook.com/">
                <img class="blue" src="/static/dist/images/bxl-facebook-circle.svg" alt="" width="70px">
            </a>
            <a  href="https://twitter.com/?lang=en">
                <img class="blue" src="/static/dist/images/bxl-twitter.svg" alt="" width="70px">
            </a>
            <a href="https://www.instagram.com/">
                <img class="blue" src="/static/dist/images/bxl-instagram.svg" alt="" width="70px">
            </a>
        </div>

        <div class="col-md-4">
            <h3 class="text-light"> Newsletter</h3>
            <br>
            <form action="">
                <input type="email" placeholder="Email*" class="form-control">
                    <br> <br>
                <textarea name="" id="" cols="30" rows="5" placeholder="Text Message" class="form-control"></textarea>
                    <br> <br>
                <input type="submit" value="Send Message" id="" class="black">
            </form>
        </div>
    </section>
</div>
<footer>
    <p class="text-info text-center bg-dark">2024 Soko Garden &copy; All rights reserved</p>
</footer>