<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style>
        .blue{
            top: 100px;
            left: 200px;
        }

    </style>
    
</head>
<body>
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-8">
                <div class="card blue">
                    <div class="card-body">
                        <h2 class="text-secondary">Log in Page</h2>
                        <form action="">
                            <input type="email" placeholder="Email address">
                            <br> <br>
                            <input type="password" placeholder="Input password">
                            <br> <br>
                            <input type="button" value="Log in" class="btn btn-success">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>