<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/lightslider.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/lightslider.css">
    <link rel="stylesheet" href="/static/css/style.css">

    
</head>
<body>
    {% include 'navbar.html' %}
    <br> <br>
    <div class="col-md-8 mx-auto">
        <div class="card shadow">
            <div class="card-body ">
                <h2>Create Account</h2>

                <span class="text-danger">{{error}}</span>
                <span class="text-success">{{message}}</span>

                <form action="/register" method="post" class="shadow">
                    <label for="">Username</label>
                    <br>
                    <input type="text" name="username" class="form-control" required>
                    <br>
                    <label for="">Phone Number</label>
                    <br>
                    <input type="text" name="phone" placeholder="(+254...)" class="form-control" required>
                    <br>
                    <label for="">Email Address</label>
                    <br>
                    <input type="email" name="email" class="form-control" required>
                    <br>
                    <label for="">Password</label>
                    <br>
                    <input type="password" name="password" class="form-control" required>
                    <br>
                    <label for="">Confirm  Password</label>
                    <br>
                    <input type="password" name="confirm_password" class="form-control" required>
                    <br> <br> 
                    <div class="text-center">
                    <input type="submit" value="Register" class="btn btn-info">
                    </div>
                    <div class="text-center mt-2">
                        <p>Already registered? <a href="/signin" class="text-info">Click here to signin</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>







</body>
</html>